{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
  <h2>О курсе</h2>
  <p>Этот курс посвящен изучению основ компьютерных сетей, их проектированию, настройке, управлению и безопасности. Программа охватывает широкий спектр тем — от базовых понятий и эталонных моделей сетей до современных технологий, таких как облачные сервисы и гибридные сети. Курс предназначен для тех, кто хочет освоить принципы работы сетевой инфраструктуры, научиться настраивать оборудование, обеспечивать безопасность данных и эффективно управлять сетевыми ресурсами.</p>
  <a href="{% url 'course_list' %}" class="btn">Начать курс</a>
{% endblock %}
